@page "/"
@using DotnetLab202203.Models;

<PageTitle>Index</PageTitle>

<h1>Form Example</h1>
<EditForm Model="@exampleModel" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText @bind-Value="exampleModel.Name" />
    <InputDate @bind-Value="exampleModel.BirthDay" />
    <button type="submit">送信</button>
</EditForm>

<QuickGrid Items="exampleModels">
    <PropertyColumn Property="@(p => p.Name)" Title="名前"/>
    <PropertyColumn Property="@(p => p.BirthDay.ToShortDateString())" Title="誕生日" />
</QuickGrid>
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private ExampleModel exampleModel = new();
    List<ExampleModel> models = new();
    IQueryable<ExampleModel>? exampleModels;

    private void Submit()
    {
        models.Add(exampleModel);
        exampleModels = models.AsQueryable();
        exampleModel = new();
    }
}
